{% load static %}

<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block styles %}{% endblock styles %}
  </head>
  <body class="max-w-screen-2xl font-sans overflow-x-hidden dark:bg-neutral-900 dark:text-white">
    <nav class="w-1/5 h-full min-h-screen dark:bg-neutral-900 dark:text-white flex flex-col p-1 absolute ">
      <ul class="fixed top-0 left-0 bottom-0 w-1/5 flex flex-col border-r">
        <li class="relative border-b">
          <a
            href="{% url 'listPage' %}"
            class="flex justify-center items-center text-base py-12 px-6 h-12 overflow-hidden dark:text-neutral-400 text-ellipsis whitespace-nowrap rounded hover:bg-neutral-900 hover:text-white     hover:fill-white dark:hover:bg-neutral-400 dark:hover:text-neutral-900 dark:fill-neutral-400 dark:hover:fill-neutral-900 transition duration-400 ease-in-out">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="fill-inherit w-5 mr-4">
              <path
                d="M88 48C101.3 48 112 58.75 112 72V120C112 133.3 101.3 144 88 144H40C26.75 144 16 133.3 16 120V72C16 58.75 26.75 48 40 48H88zM480 64C497.7 64 512 78.33 512 96C512 113.7 497.7 128 480 128H192C174.3 128 160 113.7 160 96C160 78.33 174.3 64 192 64H480zM480 224C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H192C174.3 288 160 273.7 160 256C160 238.3 174.3 224 192 224H480zM480 384C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H192C174.3 448 160 433.7 160 416C160 398.3 174.3 384 192 384H480zM16 232C16 218.7 26.75 208 40 208H88C101.3 208 112 218.7 112 232V280C112 293.3 101.3 304 88 304H40C26.75 304 16 293.3 16 280V232zM88 368C101.3 368 112 378.7 112 392V440C112 453.3 101.3 464 88 464H40C26.75 464 16 453.3 16 440V392C16 378.7 26.75 368 40 368H88z" />
            </svg>
            Список расходов
          </a>
        </li>
        <li class="relative border-b">
          <a
            href="{% url 'statisticPage' %}"
            class="flex justify-center items-center text-base py-12 px-6 h-12 overflow-hidden dark:text-neutral-400 text-ellipsis whitespace-nowrap rounded hover:bg-neutral-900 hover:text-white     hover:fill-white dark:hover:bg-neutral-400 dark:hover:text-neutral-900 dark:fill-neutral-400 dark:hover:fill-neutral-900 transition duration-400 ease-in-out">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              stroke="currentColor"
              viewBox="0 0 576 512"
              class="fill-inherit w-5 mr-4">
              <path
                d="M304 16.58C304 7.555 310.1 0 320 0C443.7 0 544 100.3 544 224C544 233 536.4 240 527.4 240H304V16.58zM32 272C32 150.7 122.1 50.34 238.1 34.25C248.2 32.99 256 40.36 256 49.61V288L412.5 444.5C419.2 451.2 418.7 462.2 411 467.7C371.8 495.6 323.8 512 272 512C139.5 512 32 404.6 32 272zM558.4 288C567.6 288 575 295.8 573.8 305C566.1 360.9 539.1 410.6 499.9 447.3C493.9 452.1 484.5 452.5 478.7 446.7L320 288H558.4z" />
            </svg>
            Статистика
          </a>
        </li>
        <li class="absolute bottom-0 left-0 right-0 flex justify-between items-center text-base py-8 px-3 h-12">
          <button
            id="themeButton"
            class="h-full py-6 px-2.5 flex items-center rounded-full border border-neutral-900">
            <svg
              class="flex dark:hidden hover:animate-spin w-8 fill-neutral-900 transition duration-300 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                d="M32 256c0-123.8 100.3-224 223.8-224c11.36 0 29.7 1.668 40.9 3.746c9.616 1.777 11.75 14.63 3.279 19.44C245 86.5 211.2 144.6 211.2 207.8c0 109.7 99.71 193 208.3 172.3c9.561-1.805 16.28 9.324 10.11 16.95C387.9 448.6 324.8 480 255.8 480C132.1 480 32 379.6 32 256z" />
            </svg>
            <svg
              class="hidden dark:flex hover:animate-spin w-8 dark:fill-neutral-300 transition duration-300 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                d="M256 159.1c-53.02 0-95.1 42.98-95.1 95.1S202.1 351.1 256 351.1s95.1-42.98 95.1-95.1S309 159.1 256 159.1zM509.3 347L446.1 255.1l63.15-91.01c6.332-9.125 1.104-21.74-9.826-23.72l-109-19.7l-19.7-109c-1.975-10.93-14.59-16.16-23.72-9.824L256 65.89L164.1 2.736c-9.125-6.332-21.74-1.107-23.72 9.824L121.6 121.6L12.56 141.3C1.633 143.2-3.596 155.9 2.736 164.1L65.89 256l-63.15 91.01c-6.332 9.125-1.105 21.74 9.824 23.72l109 19.7l19.7 109c1.975 10.93 14.59 16.16 23.72 9.824L256 446.1l91.01 63.15c9.127 6.334 21.75 1.107 23.72-9.822l19.7-109l109-19.7C510.4 368.8 515.6 356.1 509.3 347zM256 383.1c-70.69 0-127.1-57.31-127.1-127.1c0-70.69 57.31-127.1 127.1-127.1s127.1 57.3 127.1 127.1C383.1 326.7 326.7 383.1 256 383.1z" />
            </svg>
          </button>
          <a
            href="{% url 'logout' %}"
            class="h-full border dark:border-white border-neutral-900 flex rounded p-6 items-center dark:hover:text-neutral-900 dark:hover:bg-neutral-400 transition duration-300 ease-in-out">
            Выйти
          </a>
        </li>
      </ul>
    </nav>
    <main class="w-4/5 ml-80 dark:bg-neutral-900 dark:text-white">
      {% block content %} {% endblock %}
    </main>
    <script>
      tailwind.config = {
        darkMode: 'class',
      }
      const themeBtn = document.querySelector('#themeButton')
      
      window.onload = function () {
        const theme = localStorage.getItem('theme')
        if (theme !== null) {
          setTheme()
        } else {
          localStorage.setItem('theme', 'light')
        }
        console.log('from js')
      }
      
      const setTheme = function () {
        const theme = localStorage.getItem('theme')
        document.documentElement.classList = theme
      }
      
      themeBtn.addEventListener('click', function (e) {
        e.preventDefault()
        const theme = localStorage.getItem('theme')
        if (theme === 'dark') {
          localStorage.setItem('theme', 'light')
          setTheme()
        } else {
          localStorage.setItem('theme', 'dark')
          setTheme()
        }
      })
      
    </script>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
