{% load static %}

<!DOCTYPE html>
<html
  lang="en"
  class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="min-h-screen flex items-center justify-center py-12 dark:bg-neutral-900">
      <div class="max-w-md w-full space-y-8">
        <div>
          <h2
            class="mt-6 text-center text-3xl font-bold text-zinc-900 dark:text-white">
            Зарегестрироваться
          </h2>
        </div>
        <form
          class="mt-8 space-y-6"
          method="POST">
          {% csrf_token %}
          <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <label
                for="usernameInput"
                class="sr-only">
                Username
              </label>
              <input
                id="usernameInput"
                name="username"
                autocomplete="username"
                required
                type="text"
                placeholder="Введите имя пользователя"
                class="appearance-none rounded-none rounded-t-md relative block w-full px-4 py-4 border border-neutral-300 placeholder-neutral-500 dark:placeholder-neutral-400 dark:bg-zinc-900 text-zinc-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" />
            </div>
            <div>
              <label
                for="emailInput"
                class="sr-only">
                Email
              </label>
              <input
                id="emailInput"
                name="email"
                autocomplete="email"
                required
                type="email"
                placeholder="Введите почтовый адрес"
                class="appearance-none rounded-none rounded-t-md relative block w-full px-4 py-4 border border-neutral-300 placeholder-neutral-500 dark:placeholder-neutral-400 dark:bg-zinc-900 text-zinc-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" />
            </div>
            <div>
              <label
                for="password1Input"
                class="sr-only">
                Password
              </label>
              <input
                id="password1Input"
                name="password1"
                autocomplete="current-password"
                required
                type="password"
                placeholder="Введите пароль"
                class="appearance-none rounded-none rounded-b-md relative block w-full px-4 py-4 border border-neutral-300 placeholder-neutral-500 dark:placeholder-neutral-400 dark:bg-zinc-900 text-zinc-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" />
            </div>
            <div>
              <label
                for="password2Input"
                class="sr-only">
                Confirm password
              </label>
              <input
                id="password2Input"
                name="password2"
                autocomplete="current-password"
                required
                type="password"
                placeholder="Повторите пароль"
                class="appearance-none rounded-none rounded-b-md relative block w-full px-4 py-4 border border-neutral-300 placeholder-neutral-500 dark:placeholder-neutral-400 dark:bg-zinc-900 text-zinc-900 dark:text-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" />
            </div>
          </div>
          <div class="flex items-center justify-between gap-4">
            <button
              type="submit"
              class="group relative w-full flex justify-center py-4 px-4 border border dark:border-white text-neutral-900 dark:text-white border-neutral-900 text-sm font-medium rounded-md ark:hover:text-neutral-900 dark:hover:bg-neutral-400 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2">
              Зарегестрироваться
            </button>
          </div>
          <div>
            <h3 class="p-2 text-base text-center dark:text-white">
              Уже есть учетная запись?
              <a
                href="/login"
                class="dark:text-neutral-400 dark:hover:text-neutral-100">
                Войти
              </a>
            </h3>
          </div>
        </form>
      </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
